# ignore everything
*

# allow folders
!*/


!analyses/**/*.sh
!analyses/**/*.sbatch
!analyses/**/*.r

analyses/**/canu-*/**
analyses/**/correction/**
analyses/**/trimming/**
analyses/**/unitigging/**
analyses/**/canu-scripts/**


!plot/
!plot/*.png
!plot/*.jpg

!*.md

!.gitignore

